<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK Research Group on Algorithms, Combinatorics, Graphs and Applications</title>
    <meta name="description"
        content="A free responsive website template made exclusively for Frittt by Themesforce and Sarfraz Shaukat">
    <meta name="keywords" content="website template, css3, one page, bootstrap, app template, web app, start-up">
    <meta name="author" content="Themesforce and Sarfraz Shaukat for Frittt">
    <link rel="icon" type="image/png" href="./favicons/favicons-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="./stylesheet/bootstrap.css">
    <link rel="stylesheet" href="./fonts/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheet/all.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic'
        rel='stylesheet' type='text/css'>
</head>

<body>

    <div id="wrapper">
        <header id="header">
            <div class="container">
                <div class="logo"><a href="#"><img src="./images/logo.png" alt="Graph"></a></div>
                <nav id="nav">
                    <div class="opener-holder">
                        <a href="#" class="nav-opener"><span></span></a>
                    </div>

                    <div class="nav-drop">
                        <ul>
                            <li class="active visible-sm visible-xs"><a href="#">Home</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Sản phẩm</a></li>
                            <li><a href="#">Thành viên</a></li>
                        </ul>
                        <div class="drop-holder visible-sm visible-xs">
                            <span>Follow Us</span>
                            <ul class="social-networks">
                                <li><a class="fa fa-github" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-facebook" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="visual">
            <div class="container">
                <div class="text-block">
                    <div class="heading-holder">
                        <img src="./images/Logo_final.png" width="250rem">
                    </div>
                    <p class="tagline">BK Research Group on Algorithms, Combinatorics, Graphs and Applications</p>
                </div>
            </div>
            <img src="./images/BG-01.jpg" alt="" class="bg-stretch">
        </section>
        <section class="main">
            <div class="container">
                <div id="cta">
                    <a href="javascript:" class="btn btn-primary rounded">Giới thiệu</a>

                </div>
                <div class="row">
                    <div class="text-box col-md-offset-1 col-md-10">
                        <h2>About the Group</h2>

                    </div>
                </div>
            </div>
        </section>
        <section class="area">
            <div class="container">
                <div class="agl">
                    <div class="img-agl">
                        <img src="./images/graph-01-01.svg" width="150" alt="">
                    </div>
                    <div class="text-agl">
                        <h3>Algorithms</h3>
                        <p> Algorithms algorithms algorithms
                            algorithms algorithms algorithms algorithms algorithms algorithms
                            algorithms algorithms algorithms algorithms algorithms algorithms
                            algorithms algorithms algorithms algorithms algorithms algorithms
                            algorithms algorithms algorithms algorithms algorithms algorithms
                            algorithms algorithms algorithms algorithms algorithms algorithms
                            algorithms algorithms algorithms algorithms algorithms algorithms</p>
                    </div>
                </div>

                <div class="gtag">
                    <div class="tag">
                        <div class="img-holder">
                            <img src="./images/graph-04-01.svg" height="100" alt="">
                        </div>
                        <div class="text-holder">
                            <h3>Combinatorics</h3>
                            <p>Combinatorics combinatorics combinatorics
                                combinatorics combinatorics combinatorics combinatorics combinatorics
                                combinatorics combinatorics combinatorics </p>
                        </div>
                    </div>

                    <div class="tag">
                        <div class="img-holder">
                            <img src="./images/graph-02-01.svg" height="100" alt="">
                        </div>
                        <div class="text-holder">
                            <h3>Graphs</h3>
                            <p>Graphs graph graph graph graph graph graph graph graph graph
                                graph graph graph graph graph graph graph graph graph
                                graph graph graph graph graph graph graph graph graph </p>
                        </div>
                    </div>


                    <div class="tag">
                        <div class="img-holder">
                            <img src="./images/graph-03-01.svg" height="100" alt="">
                        </div>
                        <div class="text-holder">
                            <h3>Applications</h3>
                            <p>Applications applications applications applications applications applications
                                applications
                                applications applications applications applications applications applications
                                applications
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="visual-container">
            <div class="visual-area">
                <div class="container">
                    <h2>Sản phẩm</h2>
                    <ul class="testimonials">
                        <li>
                            <div class="img-holder"><a href="#"><img src="./images/logo-1.png" height="84" width="124"
                                        alt=""></a></div>
                            <p><em>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id
                                    dignissim magna. Sed varius urna et pulvinar venenatis. </em></p>
                        </li>
                        <li>
                            <div class="img-holder"><a href="#"><img src="./images/logo-2.png" height="90" width="148"
                                        alt=""></a></div>
                            <p><em>Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie
                                    neque ac, mollis eleifend nibh.</em></p>
                        </li>
                        <li>
                            <div class="img-holder"><a href="#"><img src="./images/logo-3.png" height="100" width="100"
                                        alt=""></a></div>
                            <p><em>In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla,
                                    imperdiet nibh. Morbi tempus auctor felis ac vehicula. </em></p>
                        </li>

                        <li>
                            <div class="img-holder"><a href="#"><img src="./images/logo-4.png" height="50" width="108"
                                        alt=""></a></div>
                            <p><em>Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque
                                    porttitor cursus massa et vestibulum.</em></p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="visual-area">
                <div class="container">
                    <h2>Thành viên</h2>
                    <div class="pricing-tables">
                        <div class="plan">
                            <div class="head">
                                <h3>Professor</h3>
                            </div>
                            <div>
                                <img src="./images/person.png" height="150" alt="">
                            </div>
                            <ul class="item-list">
                                <li>Algorithms algorithms algorithms algorithms algorithms algorithms algorithms
                                    algorithms algorithms algorithms </li>
                            </ul>
                            <button type="button" class="btn btn-default rounded">purchase</button>
                        </div>
                        <div class="plan">
                            <div class="head">
                                <h3>Student</h3>
                            </div>
                            <div>
                                <img src="./images/person.png" height="150" alt="">
                            </div>
                            <ul class="item-list">
                                <li>Algorithms algorithms algorithms algorithms algorithms algorithms algorithms
                                    algorithms algorithms algorithms </li>
                            </ul>
                            <button type="button" class="btn btn-default rounded">purchase</button>
                        </div>
                        <div class="plan">
                            <div class="head">
                                <h3>Student</h3>
                            </div>
                            <div>
                                <img src="./images/person.png" height="150" alt="">
                            </div>
                            <ul class="item-list">
                                <li>Algorithms algorithms algorithms algorithms algorithms algorithms algorithms
                                    algorithms algorithms algorithms </li>
                            </ul>
                            <button type="button" class="btn btn-default rounded">purchase</button>
                        </div>
                        <div class="plan">
                            <div class="head">
                                <h3>Student</h3>
                            </div>
                            <div>
                                <img src="./images/person.png" height="150" alt="">
                            </div>
                            <ul class="item-list">
                                <li>Algorithms algorithms algorithms algorithms algorithms algorithms algorithms
                                    algorithms algorithms algorithms </li>
                            </ul>
                            <button type="button" class="btn btn-default rounded">purchase</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer id="footer">
            <div class="container">
                <div class="footer-holder">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Liên hệ: </h3>
                            <p> Email: BKACG@soict.hust.edu.vn
                                <br>SĐT: 0123456789
                                <br>Địa chỉ: Phòng 902, tòa nhà B1, Đại học Bách Khoa Hà Nội
                            </p>
                        </div>

                        <div class="col-md-6 text-right">
                            <h3>Social media</h3>
                            <ul class="social">

                                <li><a href="javascript:"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="javascript:"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="./javascript/jquery-1.11.2.min.js"></script>
    <script src="./javascript/bootstrap.js"></script>
    <script src="./javascript/jquery.main.js"></script>
</body>

</html>